.navigation {
  display: inline-flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #222222;
  color:white;
}
  
  .option {
    background-color: #333333;
    color: #d1d0c5;
    border: 1px solid #444444;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .selected {
    background-color: #444444;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .dropbtn {
    background-color: #333333;
    color: #d1d0c5;
    padding: 5px 10px;
    border: 1px solid #444444;
    cursor: pointer;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent button {
    color: #d1d0c5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  
  .dropdownContent button:hover {
    background-color: #444444;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #222222;
    color: #d1d0c5;
    z-index: 1000;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLeft h1 {
    margin-right: 0px;
    font-size: 24px;
}

.icon {
    font-size: 17px;
    margin-right: 0;
    cursor: pointer;
}

.headerRight {
    font-size:17px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .headerContent {
        max-width: 100%;
        padding: 10px;
    }
}

.icon {
  
    padding:5px 5px 0px 10px;
}